# SPDX-FileCopyrightText: 2025 Duagon Germany GmbH
#
# SPDX-License-Identifier: GPL-3.0-or-later

/target/
/.vscode/
/.flatpak/
/.flatpak-builder/
/flatpak-build/
/docs-out/
/flatpak-repo/
/*.flatpak
/*.code-workspace
/*.spdx
*.cdx.xml
